<%= form_tag "", method: :get, style:"text-align:right; width=300px;" do %>
	<%= text_field_tag :keyword, nil, placeholder: "Qué artículo estás buscando", style:"width:300px;margin:15px;height:20px;"%>
	<%= content_tag :button, type: :submit, class:"be-red white", style:"height:30px;" do%>
		Buscar
	<%end%>
<%end%>

<div>
	<br>
	<%= link_to "Crear nuevo articulo", new_article_url, class:"btn be-red white center-btn top-space" %>
	<br><br>
</div>

<div class="row">
	<% @articles.each do |article| %>
		<%if !current_user.nil? and article.visibility == "compartido"%>
		<div class="col-md-4">
			<div class="relative text-center">
				<h2><%= link_to article.title, article %></h2>
			</div>
			<div class="box relative  article-height">
				<div class="absolute article-height background-image" style="background:url(<%= article.image.url(:medium) %>); top: 0px; left: 10%; width: 80%;">
				</div>
				<div class="absolute article-height background-image" style="background:rgba(0,0,0,0.5); top: 0px; left: 10%; width: 80%;">
				</div>
			</div>
			<p> <%= article.body.truncate(50) %></p>
			</div>
		<%end%>
		<%if article.visibility == "publico"%>
		<div class="col-md-4">
			<div class="relative text-center">
				<h2><%= link_to article.title, article %></h2>
			</div>
			<div class="box relative article-height">
				<div class="absolute article-height background-image" style="background:url(<%= article.image.url(:medium) %>); top: 0px; left: 10%; width: 80%;">
				</div>
				<div class="absolute article-height background-image" style="background:rgba(0,0,0,0.5); top: 0px; left: 10%; width: 80%;">
				</div>
			</div>
			<p> <%= article.body.truncate(50) %> </p>
			</div>
		<%end%>
		<%if article.visibility == "privado" && article.user==current_user%>
		<div class="col-md-4">	
			<div class="relative text-center">
				<h2><%= link_to article.title, article %></h2>
			</div>
			<div class="box relative  article-height">
				<div class="absolute article-height background-image" style="background:url(<%= article.image.url(:medium) %>); top: 0px; left: 10%; width: 80%;">
				</div>
				<div class="absolute article-height background-image" style="background:rgba(0,0,0,0.5); top: 0px; left: 10%; width: 80%;">
				</div>
			</div>
			<p> <%= article.body.truncate(50) %></p>
			</div>
		<%end%>
	<%end%>
</div>