<%= form_for([@article,@comment], remote: true, 
    html: {id: "comments-form"} ) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Ingrese un comentario: <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Comentar",class:"be-red white" %>
  </div>
<% end %>